<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction</title>
</head>
<body>
    <div class="container">
        <h2 style="font-weight: bold;">Introduction</h2>
        <p>This website allows you to manage book records. The first page provides the information. 
        The second page allows user to add a new book.</p>

        <h2 style="font-weight: bold;">Add Book</h2>
        <p>This page shows the form controls where users can enter the data. The data such as book title,
            author price and book category can be entered. Basic validation should be applied on this. The book
            category will display a drop down with a list of values such as "Science", "Maths", "Computers", 
            "Cooking" and "Business".
        </p>
        <p>The book data are stored in a Service in the App.</p>

        <h2 style="font-weight: bold;">Book List</h2>
        <p>This page displays a list of all books with details such as title, author, price and category.</p>
    </div>
</body>
</html>
